<html>
<head>
    <title>Login</title>
</head>
  <body>
        <div class="container">
            <form action="/user/" enctype="multipart/form-data" method="post">
                <label>Username</label>
                <br>
                <input name="username" type="username" >
                <br>
                <label>Password</label>
                <br>
                <input name="password" type="password" >
                <br><br>
                <input type="submit" text="login">

                
            </form>
            <form action="/singup/" target="_blank" method="get">
                    <button>Переход по ссылке</button>
                </form>
        </div> <!-- /container -->
    </body>
</html>